{{! 
This file is mostly a duplicate of typescript-node template with minor changes.
TODO(sabrina): change as neccessary for FullStory APIs.
}}
/* eslint-disable simple-import-sort/exports */
/* eslint-disable simple-import-sort/imports */

{{>info}}
{{#apiInfo}}
{{#apis}}
{{#operations}}
export * from '@api/{{ importPath }}/{{ classFilename }}';
{{/operations}}
{{#withInterfaces}}
export * from '@api/{{ classFilename }}Interface'
{{/withInterfaces}}
{{/apis}}
{{/apiInfo}}
