{{! This file is mostly a duplicate of typescript-node template with minor changes. }}
{{! TODO(sabrina): change as neccessary for FullStory APIs. }}
{{>info}}
{{#models}}
{{#model}}
{{! TODO(sabrina):add tsImports to code gen model to actually generate imports }}
{{#tsImports}}
import { {{classname}} } from '@model/{{filename}}';
{{/tsImports}}

{{#description}}
/**
* {{{.}}}
*/
{{/description}}
{{^isEnum}}
export interface {{classname}} {{#parent}}extends {{{.}}} {{/parent}}{
{{#vars}}
{{#description}}
    /**
    * {{{.}}}
    */
{{/description}}
    '{{name}}'{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{#isNullable}} | null{{/isNullable}}{{/isEnum}};
{{/vars}}
}

{{#hasEnums}}
{{#vars}}
{{#isEnum}}
export namespace {{classname}} {
{{/isEnum}}
{{/vars}}
{{#vars}}
{{#isEnum}}
    export enum {{enumName}} {
        {{#allowableValues}}
        {{#enumVars}}
        {{name}} = {{{value}}}{{^-last}},{{/-last}}
        {{/enumVars}}
        {{/allowableValues}}
    }
{{/isEnum}}
{{/vars}}
{{#vars}}
{{#isEnum}}
}
{{/isEnum}}
{{/vars}}
{{/hasEnums}}
{{/isEnum}}
{{#isEnum}}
export enum {{classname}} {
    {{#allowableValues}}
    {{#enumVars}}
    {{name}} = {{{value}}}{{^-last}},{{/-last}}
    {{/enumVars}}
    {{/allowableValues}}
}
{{/isEnum}}
{{/model}}
{{/models}}
